* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #d7d8da;
    color: #333;
}

.content{
    max-width: 1200px;
    margin: 0 auto;
    padding :10px;
}

header{
    background-color: #228afa;
    color: white;
    padding: 20px;
    text-align: center;
}



.navigation{
    background-color: #959393;
}

.navigation ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navigation ul li{
    margin:5px 15px;
}

.navigation ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}
.navigation a:hover {
    background-color: #228afa;
    border-radius: 4px;
    box-shadow: 0 2px 6px white;
}

.section{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.section div{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 280px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.section div:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.section button{
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    color: white;
    background-color: #228afa;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.2s;
     cursor: pointer;
}

.section button:hover{
    background-color: #2971be;
}

.section button:active {
    background-color: #1b5fa0;
    transform: scale(0.98);
    transition: transform 0.1s;
}


.cart-sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    border-left: 1.5px solid #ccc;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.cart-sidebar .show{
    transform: translateX(0);
}

.cart-sidebar h3{
    margin-bottom: 15px;
}

.cart-sidebar ul{
    list-style: none;
    padding: 0;
}

.cart-sidebar ul li{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

#checkout-btn {
    margin-top: 15px;
    padding: 10px;
    background-color: #228afa;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    border-radius: 10px;
    font-size: 1.0005rem;
}

#checkout-btn:hover{
    background-color: #2971be;
}

#checkout-btn:active {
    background-color: #1b5fa0;
    transform: scale(0.98);
    transition: transform 0.1s ease;
}





@media (max-width: 600px) {
    .navigation ul{
        flex-direction: column;
        align-items: center;
    }

    .section{
        flex-direction: column;
        align-items: center;
    }

    .section div{
        width: 90%;
    }
}
